<!-- Describe task in general -->
<img class="for_info_only half" title="juggler" src="{{MEDIA}}calculator.png" alt="juggler" style="float: left"/>

<p>
    Це спрощена версія місії <a target="_blank" href={% if is_js %}"https://js.checkio.org/en/mission/fizz-buzz/"{% else %}"https://py.checkio.org/en/mission/fizz-buzz/"{% endif %}>Fizz Buzz</a>.
</p>
<p>
    Ти повинен написати функцію, яка отримує позитивне ціле число і повертає: <b class="code">"Fizz"</b>, якщо число кратне 3 або число як рядок, якщо ні.
</p>

<!-- Explain input and output values -->
<p>
    <strong>Вхідні дані:</strong> Ціле число.
</p>

<p>
    <strong>Вихідні дані:</strong> Рядок.
</p>

<p>
    <strong>Приклади:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
