<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p>
    Vous devez écrire une fonction qui recevra un entier positif et retournera : <b class="code">"Fizz"</b> si le nombre est divisible par 3 (3, 6, 9 ...) sinon convertir le nombre donné en une chaîne de caractères<b class="code">(2</b> -&gt; <b class="code">"2"</b>).
</p>

<!-- Explain input and output values -->
<p>
   <strong>Entrée :</strong> {% if is_js %}Un <span>nombre</span> <span>(number)</span>{% else %} Un <span>entier</span> <span>(integer)</span>{% endif %} .
</p>

<p>
   <strong>Sortie :</strong> <span>Chaîne de caractères</span> <span>(String)</span>.
</p>

<p>
    <strong>Exemples :</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
