<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p>
    You should write a function that will receive a positive integer and return: <b class="code">"Fizz"</b> if the number is divisible by 3 (3, 6, 9 ...) otherwise convert the given number to a string (<b class="code">2</b> -> <b class="code">"2"</b>).
</p>

<!-- Explain input and output values -->
<p>
    <strong>Input:</strong> {% if is_js %}A <span translate="repeat">number</span>{% else %}An integer <span translate="no">(int)</span>{% endif %}.
</p>

<p>
    <strong>Output:</strong> A {% if is_js %}<span translate="repeat">string</span>{% else %}string <span translate="no">(str)</span>{% endif %}.
</p>

<p>
    <strong>Examples:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
