<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p>
    Вы должны написать функцию, которая получает целое положительное число и возвращает <b class="code">"Fizz"</b>, если число делится на 3 (3, 6, 9...), в противном случае преобразует число в строку (<b class="code">2</b> -> <b class="code">"2"</b>).
</p>
<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}just-fizz2.svg" alt="example" style="max-height: 200px"/>
</p>
<!-- Explain input and output values -->
<p>
    <strong>Входные данные:</strong> {% if is_js %}Число{% else %}Целое число{% endif %}.
</p>

<p>
    <strong>Выходные данные:</strong> Строка.
</p>

<p>
    <strong>Примеры:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
