<!-- Describe task in general -->
<img class="for_info_only half" title="juggler" src="{{MEDIA}}calculator.png" alt="juggler" style="float: left"/>
<p>
    Proszę napisać funkcję, która otrzyma dodatnią liczbę całkowitą i zwróci: <b class="code">"Fizz"</b> jeśli liczba jest podzielna przez 3 (3, 6, 9 ...) w przeciwnym razie przekonwertuje podaną liczbę na ciąg znaków (<b class="code">2</b> -&gt; <b class="code">"2"</b>).
</p>

<!-- Explain input and output values -->
<p>
   <strong>Dane wejściowe:</strong> {% if is_js %}Liczba <span>(number)</span>{% else %} Liczba całkowita <span>(int)</span>{% endif %}.
</p>

<p>
   <strong>Dane wyjściowe:</strong> A {% if is_js %}łańcuch <span>(string)</span>{% else %} łańcuch <span>(str)</span>{% endif %}.
</p>

<p>
    <strong>Przykłady:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
